.tableau-events {
    min-height: calc(100vh - 40rem); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tableau-user {
    max-width: 100%;
    min-height: calc(100vh - 10rem); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-table {
    width: 90%; 
    border-collapse: collapse;
    border: solid .1rem rgb(0, 0, 0); 
}

.event-table th, .event-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.event-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.event-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.event-table tbody tr:hover {
    background-color: #ddd; 
}

caption{
    font-size: 1.5em;
    font-weight: bold; 
    border: 1px solid #ddd;
    padding: 10px; 
}