.validate_h1, .validate_h2{
    text-align: center;
}

.validate_h1{
    padding-top: 8rem;
}

.photo_inscription{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    padding-top: 5rem;
}

.photo_info{
    flex: 1; 
    margin-right: .6rem; 
    margin-left: 5rem;
}

.info{
    flex-grow: 1; 
    padding: 1.2rem;
    border-radius: .7rem;
    display: flex;
    align-items: center;
}

.list_info{
    margin-bottom: 20px;
}
